# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Facultate\lab05-ai-aco-Iri25\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
